.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ---------------------------------------------------------------------- */

.drum-pad {
  background-color: darkgray;
  border: 2px solid; 
  min-height: 100px;
}

.drum-pad:active {
  transform: translateY(5px);
  filter: saturate(150%);
  background-color: darkgreen !important;
}

.drum-pad-active {
  transform: translateY(5px);
  filter: saturate(150%);
  background-color: darkgreen !important;
}

.app-title {
  color: orange;
  text-shadow: 2px 2px black;
  font-family: "Lucida Console", Monaco, monospace;
}
